{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    [
      "es2015",
      {
        "modules": "commonjs"
      }
    ],
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "actions": "./actions",
          "components": "./components",
          "containers": "./containers",
          "constants": "./constants",
          "factories": "./factories",
          "reducers": "./reducers",
          "sagas": "./sagas",
          "services": "./services",
          "types": "./types",
          "theme": "./theme",
          "infrastructure": "./infrastructure"
        }
      }
    ]
  ]
}
